/* 
	Trevor Kelley 2020267 CIS166 
	Project 3
	9/8/16
*/


		.box0
		{
			background-image:url(images/pattern.jpg);
			vertical-align:middle;
			border:6; width:90%; border-style:ridge; border-color:#669900;  
			text-align:center;  padding-bottom:25; padding-top:25; padding-left:5; padding-right:5; 
			margin:0 auto;
		}
		.box1
		{
			vertical-align:middle;
			border:6; width:500; border-style:ridge; border-color:#669900;  
			text-align:center;  padding-bottom:20; padding-top:0; padding-left:5; padding-right:5; 
			margin:0 auto;
		}
		.box2
		{
		    /*height:80%;*/ 
			vertical-align:middle;
			border:3;
			width:85%; border-style:ridge; border-color:#ccff99;  
			text-align:center;  padding-bottom:3%; padding-top:3; padding-left:25; padding-right:25; 
			margin:0 auto; 
			margin-bottom: 20px;  
		}
		.box3
		{
			border:3;
			width:50%; border-style:ridge; border-color:#ccff99;  
			text-align:center;  padding-bottom:1; padding-top:1; padding-left:5; padding-right:5; 
			margin:0 auto;
		}
		.conversionBox
		{
			vertical-align:middle;
			border:6; width:675; border-style:ridge; border-color:#669900;  
			text-align:left;  padding-bottom:20; padding-top:0; padding-left:5; padding-right:5; 
			margin:0 auto;
		}
		.info
		{
			border:8;
			font-size:20; color:#003333;
			text-align:center;
			margin-left:25px;  margin-right:25px;
			padding-bottom:7; padding-top:7; padding-left:15; padding-right:15; 
			background-color:#CCFFCC
		}
		._inputs
		{		 
			 padding-bottom:3; padding-top:3; padding-left:1; padding-right:1; 
			 margin-left:5px;
			 margin-right:10px;
			 width : 80;
			 height: 25;
			 font-size:14			 
		}
		.buttons
		{
			padding: 1px 1px 1px 1px;
			font-size:14
		}
		
		.dropDown
		{		 
			 padding-bottom:3; padding-top:3; padding-left:1; padding-right:1; 
			 margin-bottom:3px;
			 margin-left:5px;
			 margin-right:10px;
			 font-size:14		 
		}
		.navBar
		{	   
			color:#BFE32C;
			-webkit-animation-name: changeColor; 
			-webkit-animation-duration: 4s; 
			animation-name: changeColor;
			animation-duration: 4s ;
			animation-iteration-count: infinite;  
		}
		.title
		{
			text-align:center;
			font-family:Old English Text MT; 
			text-shadow: 4px 4px 4px #aaa;
			font-size:60; 
			color:#669900;
		} 
		.float-left /* divs for pics in top sites */
		{
			float:left;
			width:33%; 
		}
		.float-right /* divs for pics in top sites */
		{	    
			float:left;
			width:33%;
		}
		.float-left-Center /* divs for text between images */
		{
			float:left;
			width:33%; 
			margin-bottom:1px;
		}
		
	    fieldset 
	    {
		  margin-top: 1px;
		  margin-bottom: 1px;
		  background: #93AD78;
		  text-align:center;
	    }

	    /* animate title to swing, found on w3schools */
	    .divSpecl {  
			display:inline;
			position :relative;
			-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
			animation: mymove 5s infinite;
        }
        
		/* allows headers to fade color */
        .headers
        {
            color:#BFE32C;
            -webkit-animation-name: changeColor; 
            -webkit-animation-duration: 4s; 
            animation-name: changeColor;
            animation-duration: 4s ;
            animation-iteration-count: infinite;
        }

        /* Chrome, Safari, Opera */
        @-webkit-keyframes mymove 
        {
          /*  0%   {left: -75px;}
            25%  {left: 75px;}
            75%  {left: 25px}
            100% {left: 50px;}
            100% {left: -75px;} */
            
            /* changed to a little less move */
            0%   {left: -60px;}
            25%  {left: 60px;}
            75%  {left: 5px}
            100% {left: 20px;}
            100% {left: -60px;}
        }

        /* Standard syntax */
        @keyframes mymove 
        {         
           /* 0%   {left: -75px;}
            25%  {left: 75px;}
            75%  {left: 25px}
            100% {left: 50px;}
            100% {left: -75px;}
            */
            
            /* changed to a little less move */
            0%   {left: -60px;}
            25%  {left: 60px;}
            75%  {left: 5px}
            100% {left: 20px;}
            100% {left: -60px;}
        }
        @keyframes changeColor {
            from {color: #25fa01;}
            to { color: #55864c;}
        }
        


