/* 
		Trevor Kelley 2020267 CIS166 
		Project 1
		8/22/16
        styles.css
*/


            .box0
            {
                vertical-align:middle;
                border:6; width:675; border-style:ridge; border-color:#669900;  
                text-align:center;  padding-bottom:20; padding-top:0; padding-left:5; padding-right:5; 
                margin:0 auto;
            }
            .box1
            {
                vertical-align:middle;
                border:6; width:500; border-style:ridge; border-color:#669900;  
                text-align:center;  padding-bottom:20; padding-top:0; padding-left:5; padding-right:5; 
                margin:0 auto;
            }
            .box2
            {
                vertical-align:middle;
                border:3;
                width:70%; border-style:ridge; border-color:#ccff99;  
                text-align:center;  padding-bottom:13; padding-top:3; padding-left:120; padding-right:120; 
                margin:0 auto;   
            }
            .box3
            {
                border:3;
                width:50%; border-style:ridge; border-color:#ccff99;  
                text-align:center;  padding-bottom:1; padding-top:1; padding-left:5; padding-right:5; 
                margin:0 auto;
            }
            .conversionBox
            {
                vertical-align:middle;
                border:6; width:675; border-style:ridge; border-color:#669900;  
                text-align:left;  padding-bottom:20; padding-top:0; padding-left:5; padding-right:5; 
                margin:0 auto;
            }
            .info
            {
                border:8;
                font-size:20; color:#003333;
                text-align:justify;
                padding-bottom:20; padding-top:20; padding-left:20; padding-right:20; 
            }
            ._inputs
            {
                 
                 padding-bottom:3; padding-top:3; padding-left:1; padding-right:1; 
                 margin-left:5px;
                 margin-right:10px;
                 width : 80;
                 font-size:14
                 
            }
            .dropDown
            {
                 
                 padding-bottom:3; padding-top:3; padding-left:1; padding-right:1; 
				 margin-bottom:3px;
                 margin-left:5px;
                 margin-right:10px;
                 font-size:14
                 
            }
            navBar:hover /* can't get this to work yet */
            {
                background-color:#33ff99;
                color:Green               
            }
  
  
  fieldset 
  {
  margin-top: 15px;
  margin-bottom: 5px;
  background: #93AD78;
  text-align:center;
  }
  

/* form  /// this other data from book, not being used yet.



fieldset fieldset {
  padding-top: 5px;
  border: 2px solid #082008;
  }
form {
  background: #082008;
  padding: 10px 5px 7px 5px;
  margin: 0 auto;
  width: 750px;
  }
input, textarea {
  font-size: 1em;
  }
input:focus, textarea:focus {
  background: #e3d5ba;
  }
legend span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  }
textarea {
  display: block;
  }
#checkin {
  float: left;
  width: 45%;
  }
#checkout {
  float: right;
  width: 45%;
  }
#contactinfo, #reserveinfo, #submitbutton {
  border: none;
  }
#contactinfo label {
  display: block;
  position: relative;
  margin:  12px 0;
  }
#contactinfo input {
  position: absolute;
  left: 100px;
  }
#nameinput, #emailinput {
  width: 30em;
  }
#phoneinput {
  width: 12em;
  }
#submitbutton {
  border: none;
  background: #93AD78;
  padding: 0.5em 0;
  margin-bottom: 0;
  text-align: center;
  }
  

  */